.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.address {
    color: grey;
    padding-bottom: 20px;
}

.h2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.h4 {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.icon {
    width: 60px;
    height: 60px;
}