.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filters {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
}