@media (min-width: 769px) { 
    .desktop {
        width: 400px;
        height: calc(100% - 40px);
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        border-radius: 15px;
        z-index: 1000;
        background-color: white;
    }

    .container {
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }
    

    .sidebar__search {
        padding: 15px 15px 0 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .sidebar-close-icon {
        display: none;
    }
}

@media (max-width: 769px) { 
    // .hidden {
    //     display: none;
    // }

    .desktop {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 15px;
        z-index: 1000;
        background-color: white;
    }

    .container {
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
    }
    

    .sidebar__search {
        padding: 15px 15px 0 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
}