.container {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.btn {
    width: 10rem;
    height: 2.25rem;
    margin-top: 0.5rem;
}

.container::-webkit-scrollbar {
    width: 5px;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ECECEC;
}

.description {
    display: flex;
    flex-direction: column;
}

.branches_cards {
    overflow-y: auto;

}

.branch__card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    gap: 20px;
    align-items: center;
    padding: 20px;
    text-decoration: none !important;
}

.branch__card:hover {
    background-color: #F3F3F3;
}

.icon {
    width: 60px;
    height: 60px;
}

.span__radius {
    color: grey;
    font-size: 12px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}